/* GENERAL RULES */
a{
  text-decoration: none;
  color: inherit;
}
body{
  font-family: "Roboto", "san-serif";
  color: #041c4e;
}

.text_blue{
  color: #3487fe;
  font-weight: 500;
}

.text_grey{
  color: #889bd4;
}

/*
.container-fluid{
  max-width: 60%;
} */

ul li {
  list-style: none;
}
/* Section General rules */
section {
  padding: 3% 0%;
}
section h2{
  color: #031c4e;
  font-size: 3.5rem;

}
section h4{
  color:#5e6c8a;
  font-size: 2.5rem;
}

section h5{
  color: #031c4e;
  font-size: 1.8rem;
}

section p {
  color: #6a7692;
  font-size: 1.5rem;
  font-weight: 500;
}

.secondary_section{
  background-color: #f3f5f9;
}

.alternative_section{
  background-color: #00229d;
  color: #ffffff;
}
/* Section general rules */

/* Components General Rules */

/* SLIDER FATTO PRECEDENTEMENTE */
  /* .slider img{
    width: 100%;
    padding-top: 2%;
  }

  .arrow{
    font-size: 60px;
    height: 436px;
    line-height: 436px;
  }
  .left_arrow{
    text-align: right;
  }

  .right_arrow{
    text-align: left;
  }
} */

/* SLIDER DOPO CORREZIONE CON APPROCCIO MIGLIORE */

/* Slider */
.slider{
  width: 70%;
  max-width: 992px;
  margin: 30px auto;
  margin: 0 auto;
}

/* Top Slider */
.slider_top{
  position: relative;
  margin-top: 50px;
}

.slider_top .content{
  width: 80%;
  margin: 0 auto;
}

.slider_top .content img{
  margin-bottom: 20px;
}

.content >*{
  width: 100%;
}

.arrow{
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left_arrow {
  left: 0;
}

.right_arrow{
  right: 0;
}

/* Bottom Slider */
.slider_bottom ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #006aff;
}

.slider_bottom ul li:first-child{
  background-color: #006aff;
}

/* END OF GENERAL RULES */

/************ HEADER SECTION ***********/
header nav{
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #162d5b;
  font-weight: 500;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: #ffffff;
  z-index: 10;
}
/* Logo */
.ms_logo img{
  width: 70%;
}
/* End of Logo */

/* Menu */
.right_menu li:last-child a {
  color: #004aff;
  padding: 10px;
  border: 1px solid #004aff;
  border-radius: 5px;
}

nav .fa-chevron-down{
  margin-left: 5px;
}

/* Burger Menu */
.burger_menu{
  font-size: 2.5rem;
  text-align: right;
  color: #3487fe;
}

@media all and (max-width: 768px){
  .burger_menu{
  margin-right: 3%;
  }

  header nav{
    height: 80px;
    line-height: 80px;
  }
}

@media all and (min-width: 992px){
  header nav{
    height: 80px;
    line-height: 80px;
  }
}


/* End of Menu */

/* JUMBOTRON */
/* Title */
.jumbo_wrapper{
  color: #ffffff;
  min-height: 550px;
  background-image: url(../img/bg-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0px;
}
.title h1 {
  font-size: 5.7rem;
  padding: 40px 0px;
}

.title p{
  text-align: left;
  line-height:normal;
  font-size: 2.5rem;
  color: #bbccfd;
}

/* Account */
.ms_account{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px 0px;
  text-align: center;
  margin-top: 80px;
}
.ms_account h3{
  color: #031c4e;
  font-size: 3.3rem;
}

/* Form */
.ms_form{
  width: 100%;
  line-height: 10px;
}
.ms_control{
  width: 90%;
  margin-left: 40px;
}
.ms_account .get{
  color: #006aff;
}
.ms_label{
  font-size: 20px;
}

/* Btn */
.btn-wrapper{
}
.ms_btn{
  margin: 10px 0px;
  width: 90%;
}
.ms_btn_account{
  background-color: #579aff;
}
.btn_wrapper img{
  width: 5%;
  height: 80%;
}

/* Advise */
.ms_account .notice{
  color: #162c5a;
}

.ms_account span:first-child a {
  color: blue;
  text-decoration: underline;
}
/* End of JUMBOTRON */
/************ END HEADER SECTION *******/

/************ MAIN SECTION **************/
/* CUSTOMERS */
/* Intro */
.customers{
  background-color: #f3f5f9;
  padding: 3% 0;
}
.customers_intro p{
  color: #77829d;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
}

/* Customers Logo */

.logo_item img{
  width: 100%;
  height: 100px;
}

.customers_logo_wrapper .last .logo_item img{
  padding-top: 15%;
  padding-bottom: 15%;
}
@media all and (max-width: 768px){
  .customers_logo_wrapper .logo_item img{
    width: 80%;
    text-align: center;
    padding-left: 70px;
  }
  .customers_logo_wrapper .last .logo_item img{
    height: 69%;
    width: 73%;
  }
}

/* Customer Stories */
.stories{
  color: #3487fe;
  font-weight: 500;
}
/* End of CUSTOMERS */

/* DEPLOY AND SCALE */
/* Intro */

.list_wrapper{
  margin: 4% 0%;
}

.intro_deploy_scale{
  text-align: center;
}

/* Left List */
.left_list{
  border-left: 2px solid #5e6c8a;
  margin-left: -25px;
  min-height: 300px;
}

.left_list ul{
  padding-top: 5px;
}
.left_list ul li {
  padding-bottom: 5px;
}

/* Right List */
.right_list_item{
  padding-top: 10px;
  height: 200px;
}

@media all and (max-width: 768px){
  .left_list{
    margin-left:0px;
    margin-bottom: 20px;
  }

  .left_list ul{
    padding-left: 10px;
  }

  .right_list_item {
    height: auto;
  }
}
/* End of DEPLOY AND SCALE */

/* FOR DEVELOPERS */
.intro_for_developers h2{
  padding-bottom: 15px;
}



/* End of FOR DEVELOPERS */

/* FEATURES */
.features .features_item{
  padding: 10% 0%;
}

.features .features_item img {
  padding-bottom: 10px;
}

@media all and (max-width: 768px){
  .features .features_item{
    padding: 0;
  }

  .features .features_item{
    margin: 20px 0px;
  }
}
/* End of FEATURES */

/* Around the World */

.around_world{
  color: #ffffff;
  background-color: #0042c0;
}

.intro_around_world h2{
  color: inherit;
  padding-bottom: 15px;
}


.table_row{
  padding: 15px 0px;
  border-bottom: 1px solid #889bd4;
  margin-bottom: 10px;
  line-height: 0px;
}

.table_row:last-child{
  margin-bottom: 50px;
  border-bottom: none;
}

/* FEEDBACKS */
.feedbacks .slider_top .content_wrapper{
  min-height: 450px;
  background-color: #ffffff;
  margin-bottom: 40px;
  position: relative;
}

.feedbacks .slider_top .content_wrapper .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedbacks .slider_top .content_wrapper img {
  width: 60%;
}

.feedbacks .slider_top .content_wrapper p{
  color: #061f50;
}

.feedbacks .slider_top .content_wrapper p:first-of-type{
  font-weight: 900;
  padding-top: 20px;
  margin-bottom: -3px;
}

.feedbacks .slider_top .content_wrapper p:nth-of-type(2){
  padding-bottom: 30px;
}
/* End of FEEDBACKS */

/* End of GET STARTED */

.get_started{
  min-height: 200px;
}

.get_started h2{
  color: #ffffff;
  margin-bottom: 30px;
}

.ms_btn{
  color: #002fa9;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 7px;
  margin-top: 15px;
}
/* End of GET STARTED */

/************ END OF MAIN SECTION *************/

/************ FOOTER SECTION ******************/
footer{
  padding: 70px 0px;
  background-color: #031c4e;
  color: #a1a9ba;
}

footer .footer_logo img{
  padding-bottom: 10px;
}

footer .footer_logo ul li{
  font-size: 25px;
  color: #7a859d;
}

footer .links ul li{
  padding: 5px 0px;
}

footer .links ul li:first-of-type {
  font-weight: 800;
  color: #ffffff;
}
/********END OF FOOTER SECTION ******************/

/* ASSISTANT */
.assistant {
  width: 450px;
  height: 100px;
  position: fixed;
  right: 5%;
  bottom: 5%;

}

.assistant::after{
  content: "";
  display: table;
  clear: both;
}

.assistant .message{
  float: left;
  margin-right: 20px;
  padding: 10px 10px;
  width: 300px;
  background-color: lightgray;
  border-radius: 7px;
}

.assistant .shark{
  position: relative;
  width: 90px;
  height: 100px;
  float: left;
  background-image: url(../img/dolphin.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  border-radius: 7px;
  background-color: #006aff;
}

.counter{
  position: absolute;
    border: 4px solid #ffffff;
    border-radius: 50%;
    font-size: 17px;
    color: #ffffff;
    height: 32px;
    width: 30px;
    text-align: center;
    background-color: red;
    top: calc(0% - 15px);
    right: calc(0% - 15px);
}

@media all and (max-width: 768px){
  .assistant {
    width: 450px;
    height: 100px;
    position: fixed;
    left: 5%;
    bottom: 15%;

  }
}
